.Calculator{
 width: 300px;   
 margin: 80px auto;
}
#calculate{
    background-color: rgb(18, 45, 45);
    padding: 5px;
    font-size: 30px;
    width:300px;
    height: 50px;
    text-align: right;
    color: white;
    border: 3px solid black;     
}
.button{
    background: #333;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 30px;
    float: left;
    
}
.btn1{
    width: 100px;
}